body {
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.scrolling-box {
    background-color: transparent;
    display: block;
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-align: center;
    width: 100%;
    margin: 0;
}

.row .col.s1 {
    margin: 0;
}

.intro-text {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row.my-wrapper.valign-wrapper {
    height: 100%;
}

.card-panel.transparent.tab.row.s1.center-align {
    margin: 0;
}

.divider.about-me-divider {
    width: 30%;
    background-color: grey;
    text-align: center;
    display: inline-block;
}

.divider.footer-divider {
    width: 100%;
    background-color: grey;
    text-align: center;
    display: inline-block;
}

.contact-icon {
    opacity: 0.6;
}

.contact-icon:hover {
    opacity: 0.8;
}

.nav-icon {
    opacity: 0.8;
}

.nav-icon:hover {
    opacity: 1.4;
}

.sections-divider {
    height: 10vh;
}

.carousel.companies {
    height: 20vh;
}

#bio.row {
    margin-top: 4%;
    margin-bottom: 4%;
}

#my-pic {
    max-width: 40%;
    height: auto;
    display: block;
}

#experience-description {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

.footer {
    height: 15vh;
}

.header {
    height: 20vh;
}

#game-field {
    width: 100%;
    height: 40vh;
    background-color: white;
    opacity: 0.8;
}
