body {
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.row .col.s1 {
    margin: 0;
}

.intro-text {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row.my-wrapper.valign-wrapper {
    height: 100%;
}

.card-panel.transparent.tab.row.s1.center-align {
    margin: 0;
}

.divider.about-me-divider {
    width: 30%;
    background-color: grey;
    text-align: center;
    display: inline-block;
}

#bio.row {
    margin-top: 4%;
    margin-bottom: 4%;
}

#my-pic {
    max-width: 40%;
    height: auto;
    display: block;
}

#hobbies-button {
    transition-duration: 0.4s;
    background-color: lightgray;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
}

#hobbies-button:hover {
    background-color: white;
    color: black;
}
