body {
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.scrolling-box {
    background-color: transparent;
    display: block;
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-align: center;
    width: 100%;
    margin: 0;
}

.row .col.s1 {
    margin: 0;
}

.intro-text {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row.my-wrapper.valign-wrapper {
    height: 95%;
}

.card-panel.transparent.tab.row.s1.center-align {
    margin: 0;
    padding: 0.5vw;
}

.divider.about-me-divider {
    width: 30%;
    background-color: grey;
    text-align: center;
    display: inline-block;
}

.divider.footer-divider {
    width: 100%;
    background-color: grey;
    text-align: center;
    display: inline-block;
}

.contact-icon {
    opacity: 0.6;
}

.contact-icon:hover {
    opacity: 0.8;
}

.nav-icon {
    opacity: 0.8;
}

.nav-icon:hover {
    opacity: 1.4;
}

.sections-divider {
    height: 5vh;
}

.carousel.companies {
    height: 20vh;
}

#bio.row {
    margin-top: 4%;
    margin-bottom: 4%;
}

#my-pic {
    max-width: 40%;
    height: auto;
    display: block;
}

#experience-description {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

.footer {
    height: 15vh;
}

.header {
    height: 15vh;
}

.collapsible {
    width: 95%;
}

.collapsible-body {
    height: 15vh;
    padding: 0;
}

.row.contacts {
    margin: 0;
}

#chat-room {
    height: 95vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
    opacity: 0.8;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 1vw;
    background-color: transparent;
}
.chat-room-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1vw;
    padding-top: 3%;
    padding-bottom: 3%;
    opacity: 0.8;
    border-bottom: 1px solid white;
    margin: 0;
}

.col .row {
    margin: 0;
}

#file-upload-btn {
    padding: 0;
    background-color: transparent;
}

#my-form textarea.md-textarea  {
    color: #fff;
}

.big-title {
    font-size: 3vw;
    margin: 0;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
